body{
    margin:0;
    background-color: #ffffff;
   // background: radial-gradient( #ffffff 0%, #d3d3d3 100%);
}
.DimensionPlus{
    margin-left: 1em;
    margin-top: 1em;
}

.DimensionPlus h1{
    
font-size: 50px;    
font-family: 'Oswald',sans-serif;
}
.DimensionPlus h2{
    
font-size: 25px;    
    font-family: 'Droid Sans Mono',sans-serif;
    
}
.DimensionPlus ul{
    font-size: 15px;    
    font-family: 'Droid Sans Mono',sans-serif;
}
.DimensionPlus a{
    font-size: 25px;    
    font-family: 'Droid Sans Mono',sans-serif;
}
#DPlus{
    float:left;
    border-radius: 10px;
}
#downloadDPlus{
    float:left;
    width:100%;
}
